<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="usfvastorage" connectionString="DefaultEndpointsProtocol=https;AccountName=usfvastorage;AccountKey=CHewJcFpleROMCkgCNTgFdT3y2OUet4n7yDaDhBXxCNvkLBYjpH8QC0gYQcYFiLhq9vqEpVe3NLEzzzsvkb/6g==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout"></aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 0793F52D-82C5-4C6E-967B-606676CF8B17-->